# See http://help.github.com/ignore-files/ for more about ignoring files.

# angular files
/CustomerAccountFrontendPlugin/ClientApp/external_plugins
/CustomerAccountFrontendPlugin/ClientApp/node_modules
/CustomerAccountFrontendPlugin/bin/*
/CustomerAccountFrontendPlugin/obj/*
/CustomerAccountFrontendPlugin/ClientApp/Properties
/WebApplication1/bin/*
/WebApplication1/obj/*
/CustomerAccount/bin/*
/CustomerAccount/obj/*

/WebApplication1/.vs
/.vs
/CustomerAccount/bin
/CustomerAccount/obj
/WebApplication1/.vs

# compiled output
/dist
/tmp
/out-tsc
/external_plugins

# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.vs/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
/CusomerAccountBilder/bin/Debug/netcoreapp3.1
/CusomerAccountBilder/obj
package-lock.json
src/environments/version.js
src/environments/version.ts
